<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="menu.css">
	<script>
		
	</script>
</head>
<body>
	<div id="menu_list">
			<button class="menu"><a href="project_home.html">Home</a></button>
			<button class="menu"><a href="about.html">About</a></button>
			<button class="menu"><a href="contact.html">Contact</a></button>
			<button class="menu"><a href="research.html">Research</a></button>
			<button class="menu"><a href="video_player.html">Player</a></button>
		</div>
</body>
</html>